.question-img {
    display: block;
    margin: auto;
    padding: 10px;
    height: 450px;
    width: 700px;
}

.answers {
    margin: 20px 0px 20px 10px;
}

.checkbox-button {
    display: block;
    margin: 0px 0px 15px
}

.checkbox-button input {
    visibility: hidden;
}

.checkbox-button span {
    border: 1px solid black;
    padding: 4px 10px;
    margin: 4px;
    border-radius: 10px;
}

.checkbox-button input:hover + .answer {
    background-color: #c0c0c0;
}

.checkbox-button input:checked + .answer {
    background-color: #ffe9c9;
}

.checkbox-button input:checked:hover + .answer {
  background-color: #c08125;
}

.checkbox-button .goodAnswer {
    background-color: #00ff00;
}

.checkbox-button .badAnswer {
    background-color: red;
}

.btnValider {
    display: block;
    margin: auto;
    border-radius: 15px;
    padding: 2px 20px;
    font-size: 20px;
}

.btnValider:hover {
    background-color: #c0c0c0;
}