.banner {
    padding: 20px;
    background-color: #ffb756;
}

.nbQuestion {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.btnSuivant {
    display: block;
    margin: auto;
    border-radius: 15px;
    padding: 2px 20px;
    font-size: 20px;
}

.btnSuivant:hover {
    background-color: #c0c0c0;
} 